/* General Stuff */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: #CFC6FF;
    color: white;
    position: relative;
}

/* Desktop Home section */

@media (min-width: 601px) {
    .home {
        position: relative;
        padding: 2.5rem 1rem 5rem 1rem;
        overflow: hidden;
        margin-top: 2.5rem;
        padding-bottom: 5rem;
    }

    .home-content {
        width: 50%;
        margin-left: 5%;
    }

    .home-image {
        position: absolute;
        right: 10%;
        top: 45%;
        transform: translateY(-50%);
        width: clamp(12.5rem, 23vw, 40rem);
        text-align: center;
    }

    .home-image img {
        width: 90%;
        height: auto;
        border-radius: 50%;
    }

    .home-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5rem;
    }
    
    .home-socials {
        position: absolute;
        bottom: 1rem;
        left: 3rem;
    }
}

/* Header & Navigator */

.header {
    width: 100%;
    padding: 3%;
    background: linear-gradient(to bottom,#fff6b8, #CFC6FF);
    position: relative;
}

.logo {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(2rem , 1.67vw, 5rem);
    text-decoration: none;

    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    float: right;
    margin-top: .1%;

    right: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar a {
    font-size: clamp(1rem , 0.78vw, 2rem);
    font-weight: bold;
    margin: 10px;
    color: #0000EE;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover, a.active {
    color: #8F97E8;
    border-bottom: 3px solid #8F97E8;
}

.hamburger-toggle, .hamburger-button {
    display: none;
}

.hamburger-button {
    font-size: 2rem;
    cursor: pointer;
    float: right;
}

/* Content General Design */

.home-content > * {
    margin-bottom: 2.5%;
    animation: fadeIn 1s ease-out forwards;
}

.home-content h1 {
    font-size: clamp(2.5rem , 3.33vw, 5rem);
}

.home-content h3 {
    font-size: clamp(1.5rem , 1.67vw, 3rem);
    color: #fdff98;
}

.home-content p {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: bold;
    margin-bottom: 5%;
}

.home-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    animation: fadeIn 1s ease-out forwards;
}

.home-socials {
    animation: fadeIn 1s ease-out forwards;
}

/* Button */

.home-content .btn-box {
    width: 130px;
    height: 50px;
}

.btn-box a {
    display: inline-block;
    width: 130px;
    height: inherit;
    background: #7B84C9;
    border: 5px solid #7B84C9;
    border-radius: 8px;
    color: #c3f6ff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 37px;
    transition: .3s;
}

/* Mobile Home section */

@media (max-width: 600px) {
    .header {
        padding: 10% 5%;
    }
    .logo {
        font-size: 1.5rem;
    }

    .navbar {
        position: absolute;
        top: 200%;
        right: 5%;
        background: #fff6b8;
        padding: 12px 18px;
        border-radius: 14px;

        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        min-width: 150px;
        z-index: 1000;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 
            opacity 0.3s ease,
            transform 0.3s ease,
            visibility 0.3s ease;
    }

    .navbar a {
        font-size: 1rem;
    }
    
    /* Hamburger Button */

    .hamburger-button {
        display: block;
        margin-top: .5%;
        right: 5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger-toggle:checked + .hamburger-button + .navbar {
        right: 5%;
        top: 200%;

        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .navbar a {
        display: block;
    }

    /* Home section centering */

    .home {
        text-align: center;
        margin: 40px;
    }

    .home-content {
        max-width: 90%;
        margin: 0 auto 20px auto;
    }

    .home-content h1 {
        font-size: clamp(1.5rem , 7vw, 4rem);
    }
    .home-content h3 {
        font-size: clamp(1rem , 5vw, 2.5rem);
    }

    .home-content p {
        font-size: clamp(.8rem, 3vw, 1.5rem);
    }

    .home-image img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 20% auto;
    }

    .home-footer {
        margin-top: 20%;
        text-align: center;
    }

    .home-socials {
        display: inline-block;
    }

    .btn-box {
        margin: auto;
        padding-top: 1.5rem;
    }

}

